#main {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: auto;
	width: 100vw;
}
/* everything above this you gotta fix ok ty */
#base {
	width: 100px;
	height: 100px;
}

.joystick {
	background-color: black;
	border-radius: 100%;
	cursor: pointer;
	height: 100%;
	user-select: none;
	width: 100%;
}